@{
    ViewData["Title"] = "About Us";
}

<h1>About KhumaloCraft</h1>
<p>KhumaloCraft is an aspiring e-commerce platform dedicated to showcasing and selling beautiful handcrafted products from talented artisans worldwide.</p>
<p>Our mission is to provide a platform for artisans to showcase their skills and creativity while offering customers unique, high-quality products.</p>
<img src="~/images/image2.jpg" alt="Artisans at Work" />
<p>We work closely with our artisans to curate a diverse collection of products, ranging from home decor to fashion accessories and more.</p>
<p>When you shop at KhumaloCraft, you not only acquire a one-of-a-kind item but also support the livelihoods of skilled artisans and help preserve traditional craftsmanship.</p>