@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to KhumaloCraft</h1>
    <p>Discover our exquisite collection of handcrafted products!</p>
    <img src="~/Images/image1.jpg" alt="Handcrafted Products" />
    <p>At KhumaloCraft, we bring you the finest handcrafted products from around the globe.</p>
    <p>Browse our collection and find the perfect piece for your home or as a gift.</p>
    <a href="@Url.Action("MyWork", "Home")">Shop Now</a>
</div>

